body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header,
.content,
.footer {
    display: flex;
    flex: 1;
}

/* Header */
.header {
    background-color: lightgray;
}

.menu-item {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.menu-item:nth-child(1) {
    background-color: red;
    border: 5px solid yellow
}

.menu-item:nth-child(2) {
    background-color: green;
    border: 5px solid orangered
}

.menu-item:nth-child(3) {
    background-color: blue;
    border: 10px solid yellow
}

.menu-item:nth-child(4) {
    background-color: orange;
    border: 5px solid orangered
}

.menu-item:nth-child(5) {
    background-color: purple;
    border: 5px solid yellow
}

/* Content */
.content {
    flex: 3;
}

.content-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-column {
    background-color: teal;
}

.right-column {
    background-color: pink;
}

.right-column-item {
    flex: 1;
    text-align: center;
    padding: 10px;
}

/* Different background colors for right column items */
.right-column-item:nth-child(1) {
    background-color: cyan;
    border: solid red 5px
}

.right-column-item:nth-child(2) {
    background-color: lime;
    border: 5px solid yellow
}

/* Different background colors for right column items */
.right-column-item:nth-child(3) {
    background-color: pink;
    border: 5px solid red
}

.right-column-item:nth-child(4) {
    background-color: lime;
    border: 5px solid yellow
}    

.right-column-item:nth-child(5) {
    background-color: cyan;
    border: 5px solid red
}  

.right-column-item:nth-child(6) {
    border: 5px solid yellow
}  

.right-column-item:nth-child(7) {
    border: 5px solid red
}  

/* Footer */
.footer {
    background-color: lightcoral;
    gap: 15px;
}

.footer-column {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.footer-column:nth-child(1) {
    background-color: brown;
}

.footer-column:nth-child(2) {
    background-color: yellow;
}

.footer-column:nth-child(3) {
    background-color: violet;
}